/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2017, 5:33:38 PM
    Author     : zhamingd
*/
li{
    display: list-item;
}
ul{
    list-style-type: none;
}
#price_box{
    margin-right: 5px;
    margin-left: 5px;
    display:block;
    overflow-x: auto;
    height: 300px;
    font-size: x-small;
    word-wrap: break-word;
}
#left {
    position:fixed;
    padding-top:45px;
    float: left;
    width:180px;
    height: 800px;
    background-color: #92c0d4;
}
#left ul{
    padding-left: 0px;
    margin-left:5px;
    margin-top:5px;
}
ul span {
    width:21px;
    height:21px;
}
.arrow_up {
    background: url('../images/index.png') no-repeat scroll 0 0 transparent;
    background-position: -97px -367px;
}
.arrow_down {
    background: url('../images/index.png') no-repeat scroll 0 0 transparent;
    background-position: -124px -368px;
}
.arrow_none{
    
}
#left li{
    
    margin-top:5px;
}
.content {
    padding-top:45px;
    padding-left: 180px;
    margin-left: 10px;
    height: 800px;
    overflow-y: auto;
    background-color: #c4dbe4;
}
.content_title {
    position: fixed;
    height:67px;
    width:768px;
    overflow-y: hidden;
    overflow-wrap: normal;
    border-bottom: #000 1px dashed;
}
.content_title input {
    
    width:764px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.content_title h1{
    margin-top: 10px;
    margin-bottom: 10px;
}.content_title h5{
    margin-top: 10px;
    margin-bottom: 10px;
}


.content_body {
    overflow-wrap: normal;
    
    position:fixed;
    width:90%;
    margin-top:5px;
    top: 125px;
    overflow-y:auto;
    height:700px;
}

body{
    margin:0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
.header {
    top:0;
    left:0;
    width:100%;
    height:40px;
    max-width: 100%;
    min-width:768px;
    background-color: #0096D6;
    z-index:9;
    position: fixed;
}
.body{
    margin-top:10px;
}
.center {
    width:800px;
    height:620px;
    background-color: #e0a391;
}
.header td {
    padding:10px;
}

footer{
    width:100%;
    background-color: #8ba7e6;
    height:40px;
    position:fixed;
}
footer li {
    float:left;
    padding-left: 20px;
}